{{! Posts Feed - List }}
<div class="flex flex-col gap-y-12 lg:gap-y-14">
  {{#each posts}}
    <div class="grid grid-cols-12 gap-y-6 sm:grid-rows-1">
      <figure
        class="group col-span-full overflow-hidden bg-gray-900 sm:col-start-1 sm:col-end-8 sm:row-start-1 sm:row-end-2"
      >
        <a href="{{url}}">
          <img
            class="aspect-14/9 h-full w-full object-cover duration-300 group-hover:scale-110 group-hover:opacity-75"
            src="{{img.lg}}"
            alt="{{title}}"
          />
        </a>
      </figure>
      <div
        class="relative col-span-full bg-white dark:bg-gray-800 sm:col-start-6 sm:col-end-13 sm:row-start-1 sm:row-end-2 sm:mt-12 lg:mt-[70px] sm:p-6 sm:pr-0 md:px-7 lg:p-9 lg:pb-12"
      >
        <div
          class="mb-4 inline-flex bg-accent px-2 py-1 text-xs font-bold uppercase leading-none text-white lg:mb-7"
        >
          {{#with (lookup ../yt1.blog.categories meta.cat_id)}}
            {{label}}
          {{/with}}
        </div>
        <h2 class="mb-4 text-2xl font-bold leading-none sm:text-xl lg:text-4xl lg:mb-6 lg:tracking-tighter lg:leading-none">
          <a
            href="{{url}}"
            class="text-primary transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
          >
            {{title}}
          </a>
        </h2>
        <div
          class="mb-3 sm:text-sm lg:mb-6 lg:text-base"
        >{{meta.date}}</div>
        <div class="sm:text-sm lg:pr-20 lg:text-lg lg:leading-8 tracking-tight">
          {{excerpt}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{! Posts Feed - List / End }}
