<a
  href="{{#if url}}{{url}}{{else}}#{{/if}}"
  class="relative isolate inline-flex overflow-hidden border-2 bg-transparent py-3 px-4 text-center text-xs font-bold leading-none transition-colors before:absolute before:inset-y-0 before:left-0 before:-z-10 before:block before:w-full before:origin-right before:scale-x-0 before:transition-transform before:duration-300 hover:before:origin-left hover:before:scale-x-100 lg:py-[14px] lg:px-12 lg:text-sm

  {{! Size }}
  {{#ifequal size "md"}}
  py-3 px-4 lg:py-[14px] lg:px-12
  {{else}}
  py-4 px-5 lg:py-5 lg:px-10
  {{/ifequal}}
  {{! Size / End }}

  {{! Outline White }}
  {{#ifequal variant "outline-white"}}
  bg-transparent border-2 border-white before:bg-white text-white lg:text-white hover:text-primary
  {{/ifequal}}
  {{! Outline White / End }}

    {{class}}"

  {{{data-attr}}}
>
  {{label}}
</a>
