<!DOCTYPE html>
<html lang="zxx" class="h-full overflow-x-hidden dark">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <title>{{global.site-name}} - {{page-title}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{global.description}}">
  <meta name="author" content="{{global.author}}">
  <meta name="keywords" content="{{global.keywords}}">

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="{{root}}assets/img/str2/favicons/favicon.ico">
  <link rel="apple-touch-icon" sizes="120x120" href="{{root}}assets/img/str2/favicons/favicon-120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{root}}assets/img/str2/favicons/favicon-152.png">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

  <!-- Google Web Fonts
  ================================================== -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family={{global.themes.str2.fonts}}&display=swap" rel="stylesheet">

  <!-- CSS
  ================================================== -->
  <!-- Vendor CSS-->
  <link href="{{root}}assets/vendors/common/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="{{root}}assets/vendors/common/swiper/css/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template CSS-->
  <link href="{{root}}assets/css/str2/style.css" rel="stylesheet">

</head>
