<div class="page-heading pt-8 pb-12 text-center md:pt-16 md:pb-28">
  <div class="container">
    <h1
      class="relative mb-3 text-3xl font-bold leading-tight tracking-tight md:text-5xl"
    >{{page-title}}</h1>
    <ol
      class="relative flex flex-wrap justify-center divide-x-2 divide-white text-xs font-bold uppercase leading-none"
    >
      <li class="px-[10px]"><a href="_yt1-index.html">Home</a></li>
      {{#each breadcrumbs}}
        {{#if @last}}
          <li class="px-[10px]">{{label}}</li>
        {{else}}
          <li class="px-[10px]"><a href="{{link}}">{{label}}</a></li>
        {{/if}}
      {{/each}}
    </ol>
  </div>
</div>
