{{! Pagination }}
<nav class="pt-12 md:pt-14 lg:pt-32">
  <ul
    class="flex flex-wrap items-center justify-center gap-x-5 md:gap-x-6 lg:gap-x-8"
  >
    <li class="flex items-center">
      <a
        class="inline-block text-base opacity-40 hover:text-primary dark:hover:text-white text-primary dark:text-white hover:opacity-100"
        href="#"
      >
        <svg class="h-3 w-3" fill="currentColor">
          <use
            xlink:href="{{root}}assets/img/yt2/sprite.svg#chevron-left"
          ></use>
        </svg>
      </a>
    </li>
    {{#each yt2.shop.pagination}}
      <li>
        <a
          class="text-base font-bold transition-colors hover:text-accent dark:hover:text-accent {{#if active}}text-accent {{else}} text-primary dark:text-white {{/if}}"
          href="{{link}}"
        >{{label}}</a>
      </li>
    {{/each}}
    <li class="flex items-center">
      <a
        class="inline-block text-base opacity-40 hover:text-primary dark:hover:text-white text-primary dark:text-white hover:opacity-100"
        href="#"
      >
        <svg class="h-3 w-3" fill="currentColor">
          <use
            xlink:href="{{root}}assets/img/yt2/sprite.svg#chevron-right"
          ></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>
{{! Pagination / End }}
