<div
  class="sub-menu invisible absolute right-2 z-20 w-[360px] origin-top-right bg-white dark:bg-gray-700 py-9 text-gray-900 dark:text-white opacity-0 shadow-2xl transition-all"
>
  <!-- Products -->
  <ul class="flex flex-col gap-y-4.5 text-sm">
    {{#each subitems}}
      <li class="flex gap-4.5 px-7 text-gray">

        <!-- Thumb -->
        <figure class="shrink-0">
          <a class="group" href="{{url}}.html">
            <img
              class="transition-opacity duration-300 group-hover:opacity-75"
              src="{{img.sm}}"
              alt="{{title}}"
            />
          </a>
        </figure>
        <!-- Thumb / End -->

        <!-- Product Body -->
        <div class="flex flex-grow flex-col gap-1">

          <!-- Title -->
          <h4 class="font-bold leading-none uppercase tracking-tight">
            <a
              class="text-gray-900 transition-colors hover:text-primary dark:text-white dark:hover:text-primary"
              href="{{url}}.html"
            >
              {{title}}
            </a>

          </h4>
          <!-- Title / End -->

          <!-- Price -->
          <div class="uppercase font-bold tracking-tight leading-snug text-gray-900 dark:text-white">
            <span class="text-primary">{{single-price}}</span> x {{quantity}}
          </div>
          <!-- Price / End -->

          {{! Rating }}
          {{> _str2-rating rating=rating rating-size="sm" }}
          {{! Rating / End }}

        </div>
        <!-- Product Body / End -->

        <!-- Remove Product -->
        <button
          class="group -mt-2 -mr-2 flex h-6 w-6 items-center justify-center self-start"
        >
          <svg role="img" class="h-2 w-2 fill-primary group-hover:fill-primary dark:fill-white dark:group-hover:fill-primary">
            <use xlink:href="{{root}}assets/img/str2/sprite.svg#close"></use>
          </svg>
        </button>
        <!-- Remove Product / End -->

      </li>
    {{/each}}
  </ul>
  <!-- Products / End -->

  <!-- Cart Buttons -->
  <div class="flex w-full gap-4.5 px-7 pt-9">
    {{#> _str2-btn
      variant="outline-default"
      href="_str2-cart.html"
      size="sm"
      class="flex-1"
    }}
      Go to cart
    {{/_str2-btn}}

    {{#> _str2-btn
      variant="primary"
      href="_str2-checkout.html"
      size="sm"
      class="flex-1"
    }}
      Checkout
    {{/_str2-btn}}
  </div>
  <!-- Cart Buttons / End -->
</div>
