<ul
  class="sub-menu invisible absolute z-20 flex w-40 flex-col bg-white dark:bg-gray-700 py-2.5 text-sm font-bold opacity-0 shadow-2xl transition-all
    {{class}} {{#if item-class}}[&>a]:{{item-class}}{{/if}}"
>
  {{#each subitems}}
    <li
      class="px-5.5 {{#if subitems}}relative [&>.sub-menu]:hover:visible [&>.sub-menu]:hover:animate-popper-pop-in [&>.sub-menu]:hover:opacity-100{{/if}}"
    >

      {{#if is-modal}}
        <button
          class="js-vv-modal__open-btn-{{id}} flex items-center justify-between py-1.5 transition-colors text-gray-900 hover:text-accent dark:text-white dark:hover:text-accent"
          data-id="{{id}}"
        >
          {{title}}
        </button>
      {{else}}
        <a
          class="flex items-center justify-between py-1.5 transition-colors {{#ifpage url}} text-accent {{/ifpage}} {{#unlesspage url}} text-gray-900 hover:text-accent dark:text-white dark:hover:text-accent {{/unlesspage}}"
          href="{{url}}.html"
        >
          {{title}}

          {{#if subitems}}
            <svg role="img" class="h-1.5 w-1.5 fill-accent">
              <use xlink:href="{{root}}assets/img/str1/sprite.svg#plus"></use>
            </svg>
          {{/if}}
        </a>
      {{/if}}

      {{#if subitems}}
        {{> _str1-header-dropdown class="left-full -top-2" subitems=subitems }}
      {{/if}}
    </li>
  {{/each}}
</ul>
