<!-- Navigation (Mobile) -->
<ul class="text-md flex flex-col font-bold">
  {{#each items}}
    <li
      class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200 dark:border-b-gray-200/10"
    >
      <a
        class="flex-grow gap-x-1 py-4 leading-normal transition-colors hover:text-accent"
        href="{{url}}.html"
      >
        {{title}}
      </a>

      {{#if subitems}}
        <button
          class="js-mobile-submenu-toggle ml-auto inline-flex h-7 w-7 items-center justify-center transition-transform"
        >
          <svg
            role="img"
            class="sub-menu-toggle h-2 w-2 rotate-90 fill-primary dark:fill-white"
          >
            <use
              xlink:href="{{root}}assets/img/yt2/sprite.svg#arrow-right"
            ></use>
          </svg>
        </button>

        {{! Submenu 1st Lelel }}
        <ul
          class="flex max-h-0 w-full flex-col overflow-hidden pl-4 text-sm transition-all duration-300 [&>li:last-child]:pb-4"
        >
          {{#each subitems}}
            <li class="flex flex-wrap items-center gap-x-4">

              {{#if is-modal}}
                <button
                  class="vv-modal__open-btn-{{id}}
                    flex-grow gap-x-1 py-2 text-left transition-colors hover:text-accent"
                  data-id="{{id}}"
                >
                  {{title}}
                </button>
              {{else}}
                <a
                  class="flex-grow gap-x-1 py-2 transition-colors hover:text-accent"
                  href="{{url}}.html"
                >
                  {{title}}
                </a>
              {{/if}}

              {{#if subitems}}
                <button
                  class="js-mobile-submenu-toggle ml-auto inline-flex h-7 w-7 items-center justify-center transition-transform"
                >
                  <svg
                    role="img"
                    class="sub-menu-toggle h-2 w-2 rotate-90 fill-primary dark:fill-white"
                  >
                    <use
                      xlink:href="{{root}}assets/img/yt2/sprite.svg#arrow-right"
                    ></use>
                  </svg>
                </button>

                {{! Submenu 2nd Lelel }}
                <ul
                  class="flex max-h-0 w-full flex-col overflow-hidden pl-4 transition-all duration-300"
                >
                  {{#each subitems}}
                    <li class="flex flex-wrap items-center gap-x-4">
                      <a
                        class="flex-grow gap-x-1 py-2 transition-colors hover:text-accent"
                        href="{{url}}.html"
                      >
                        {{title}}
                      </a>
                    </li>
                  {{/each}}
                </ul>

              {{/if}}
            </li>
          {{/each}}
        </ul>
      {{/if}}

    </li>
  {{/each}}
</ul>
<!-- Navigation (Mobile) / End -->
