<ul
  class="sub-menu invisible absolute z-20 flex w-52 flex-col bg-white dark:bg-gray-800 py-5 text-sm font-bold opacity-0 shadow-2xl transition-all
    {{class}} {{#if item-class}}[&>a]:{{item-class}}{{/if}}"
>
  {{#each subitems}}
    <li
      class="px-7 {{#if subitems}}relative [&>.sub-menu]:hover:visible [&>.sub-menu]:hover:animate-popper-pop-in [&>.sub-menu]:hover:opacity-100{{/if}}"
    >
      {{#if is-modal}}
        <button
          class="vv-modal__open-btn-{{id}} flex items-center justify-between py-2 transition-colors text-primary hover:text-accent dark:text-white dark:hover:text-accent"
          data-id="{{id}}"
        >
          {{title}}
        </button>
      {{else}}
        <a
          class="flex items-center justify-between py-2 transition-colors {{#ifpage url}} text-accent {{/ifpage}} {{#unlesspage url}} text-primary hover:text-accent dark:text-white dark:hover:text-accent {{/unlesspage}}"
          href="{{url}}.html"
        >
          {{title}}

          {{#if subitems}}
            <svg role="img" class="h-2 w-2 fill-primary dark:fill-white">
              <use xlink:href="{{root}}assets/img/yt2/sprite.svg#arrow-right"></use>
            </svg>
          {{/if}}
        </a>
      {{/if}}

      {{#if subitems}}
        {{> _yt2-header-dropdown class="left-full -top-5" subitems=subitems }}
      {{/if}}
    </li>
  {{/each}}
</ul>
