{{! Featured Streams }}
<div class="pb-20 md:pb-24 lg:pb-[130px]">
  <div class="container">

    {{> _str1-section-heading
      title="Featured Streams"
    }}

    {{! Streams }}
    <div class="grid grid-cols-12 gap-5 md:gap-6 lg:gap-7.5 mb-7.5">

      {{! Primary Stream }}
      <figure class="col-span-full md:row-start-1 md:row-end-2 lg:col-span-8 lg:row-start-1 lg:row-end-3">
        <a
          class="group relative block h-full overflow-hidden bg-gray-900 glightbox"
          href="https://player.twitch.tv/?video=1703307874&parent=valkivid.dan-fisher.dev"
        >
          <img
            class="aspect-[77/46] w-full object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-75"
            src="{{root}}assets/img/str1/samples/video-2-770x460.jpg"
            alt="I Play the Witch Hunters Story Mode!"
          />

          {{! Overlay }}
          <div class="absolute inset-0 bg-black/60"></div>
          {{! Overlay / End }}

          {{! Play Button }}
          <span
            class="absolute top-1/2 left-1/2 flex aspect-square -translate-x-2/4 -translate-y-2/4 items-center justify-center w-10"
          >
            <svg role="img" class="fill-white aspect-[18/22] ml-[2px] w-6">
              <use xlink:href="{{root}}assets/img/yt1/sprite.svg#play"></use>
            </svg>
          </span>
          {{! Play Button / End }}

          {{! Info }}
          <div class="absolute flex inset-x-5 xl:inset-x-6 top-5 xl:top-6 gap-x-3">
            <figure class="shrink-0">
              <img class="w-10 object-cover aspect-square" src="{{root}}assets/img/str1/samples/stream-avatar-40x40.jpg" alt="" />
            </figure>
            <div class="flex-1 leading-tight min-w-0">
              <h6 class="font-bold text-white truncate w-full">I Play the Witch Hunters Story Mode!</h6>
              <time class="text-gray text-sm" datetime="2023-03-01 21:30">January 3rd, 2023</time>
            </div>
          </div>
          {{! Info / End }}
        </a>
      </figure>
      {{! Primary Stream / End }}

      {{! Secondary Streams }}
      <figure class="col-span-full md:row-start-2 md:row-end-2 md:col-span-6 lg:col-span-4 lg:row-start-1 lg:row-end-2">
        <a
          class="group relative block h-full overflow-hidden bg-gray-900 glightbox"
          href="https://player.twitch.tv/?video=1703307874&parent=valkivid.dan-fisher.dev"
        >
          <img
            class="aspect-[370/215] w-full object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-75"
            src="{{root}}assets/img/str1/samples/video-4-370x215.jpg"
            alt="I Play the Witch Hunters Story Mode!"
          />

          {{! Overlay }}
          <div class="absolute inset-0 bg-black/60"></div>
          {{! Overlay / End }}

          {{! Play Button }}
          <span
            class="absolute top-1/2 left-1/2 flex aspect-square -translate-x-2/4 -translate-y-2/4 items-center justify-center w-10"
          >
            <svg role="img" class="fill-white aspect-[18/22] ml-[2px] w-6">
              <use xlink:href="{{root}}assets/img/yt1/sprite.svg#play"></use>
            </svg>
          </span>
          {{! Play Button / End }}

          {{! Info }}
          <div class="absolute flex inset-x-5 xl:inset-x-6 top-5 xl:top-6 gap-x-3">
            <figure class="shrink-0">
              <img class="w-10 object-cover aspect-square" src="{{root}}assets/img/str1/samples/stream-avatar-40x40.jpg" alt="" />
            </figure>
            <div class="flex-1 leading-tight min-w-0">
              <h6 class="font-bold text-white truncate w-full">First Play: Zodiac Goddess</h6>
              <time class="text-gray text-sm" datetime="2023-03-01 21:30">December 17th, 2022</time>
            </div>
          </div>
          {{! Info / End }}
        </a>
      </figure>

      <figure class="col-span-full md:row-start-2 md:row-end-2 md:col-span-6 lg:col-span-4 lg:row-start-2 lg:row-end-3">
        <a
          class="group relative block h-full overflow-hidden bg-gray-900 glightbox"
          href="https://player.twitch.tv/?video=1703307874&parent=valkivid.dan-fisher.dev"
        >
          <img
            class="aspect-[370/215] w-full object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-75"
            src="{{root}}assets/img/str1/samples/video-8-370x215.jpg"
            alt="I Play the Witch Hunters Story Mode!"
          />

          {{! Overlay }}
          <div class="absolute inset-0 bg-black/60"></div>
          {{! Overlay / End }}

          {{! Play Button }}
          <span
            class="absolute top-1/2 left-1/2 flex aspect-square -translate-x-2/4 -translate-y-2/4 items-center justify-center w-10"
          >
            <svg role="img" class="fill-white aspect-[18/22] ml-[2px] w-6">
              <use xlink:href="{{root}}assets/img/yt1/sprite.svg#play"></use>
            </svg>
          </span>
          {{! Play Button / End }}

          {{! Info }}
          <div class="absolute flex inset-x-5 xl:inset-x-6 top-5 xl:top-6 gap-x-3">
            <figure class="shrink-0">
              <img class="w-10 object-cover aspect-square" src="{{root}}assets/img/str1/samples/stream-avatar-40x40.jpg" alt="" />
            </figure>
            <div class="flex-1 leading-tight min-w-0">
              <h6 class="font-bold text-white truncate w-full">Mochi’s Island CHARITY SPEEDRUN</h6>
              <time class="text-gray text-sm" datetime="2023-03-01 21:30">October 22nd, 2022</time>
            </div>
          </div>
          {{! Info / End }}
        </a>
      </figure>
      {{! Secondary Streams / End }}


    </div>
    {{! Streams / End }}

    {{! Banners }}
    <div class="grid grid-cols-12 gap-5 md:gap-6 lg:gap-7.5">
      <div class="col-span-full md:col-span-6">

        {{! Banner: All Stream Videos }}
        <div class="relative isolate w-full aspect-[57/16] flex bg-accent text-gray-900 overflow-hidden justify-between items-center">
          <div class="leading-tight pl-5 lg:pl-8 xl:pl-10 xl:pb-2 lg:pb-3 flex-1">
            <div class="font-bold text-base leading-none sm:text-lg md:text-base md:leading-none lg:text-lg mb-1.5 xl:mb-2.5">Want to see more? Check out</div>
            <h4 class="font-bold text-2xl sm:text-3xl md:text-2xl md:leading-none leading-none lg:text-3xl xl:text-[42px]">All Stream Videos</h4>
          </div>

          <img class="absolute -z-10 right-0 top-0 bottom-0 object-cover object-left max-w-[39%]" src="{{root}}assets/img/str1/samples/stream-banner-1.png" alt="" />

          <a href="#" class="block absolute inset-0"></a>
        </div>
        {{! Banner: All Stream Videos / End }}

      </div>

      <div class="col-span-full md:col-span-6">

        {{! Banner: Twitch }}
        <div class="relative isolate w-full aspect-[57/16] flex bg-social-twitch text-white overflow-hidden justify-between items-center">
          <div class="leading-tight pl-5 lg:pl-8 xl:pl-10 xl:pb-2 lg:pb-3 flex-1">
            <div class="font-bold text-base leading-none sm:text-lg md:text-base md:leading-none lg:text-lg mb-1.5 xl:mb-2.5">Subscribe to my channel!</div>
            <h4 class="font-bold text-2xl sm:text-3xl md:text-2xl md:leading-none leading-none lg:text-3xl xl:text-[42px]">@NekoMaGiX</h4>
          </div>

          <img class="absolute -z-10 right-0 top-0 bottom-0 object-cover object-left max-w-[27%]" src="{{root}}assets/img/str1/stream-banner-2.png" alt="" />

          <a href="#" class="block absolute inset-0"></a>
        </div>
        {{! Banner: Twitch / End }}

      </div>
    </div>
    {{! Banners / End }}
  </div>
</div>
{{! Featured Streams / End }}
