{{! Section: Info Slider }}
<section class="py-14 md:py-32 lg:py-44 xl:py-48">
  <div class="container">
    <div class="grid grid-cols-12 gap-y-12 md:gap-x-[30px]">

      {{! Slider }}
      <div class="col-span-full md:col-span-8">

        {{! Info Slider }}
        <div
          class="swiper js-vv-channel-info-swiper aspect-[770/580] w-full sm:aspect-[770/520]"
        >

          {{! Slider required wrapper }}
          <div class="swiper-wrapper">
            {{! Slides }}
            {{#each yt1.channel-info}}
              <div class="swiper-slide">
                <div class="relative isolate flex h-full">
                  <img
                    class="absolute top-0 right-0 h-auto max-w-full"
                    src="{{root}}{{img}}"
                    alt="{{title}}"
                    data-swiper-parallax="-250"
                  />

                  <div
                    class="absolute left-4 bottom-4 max-w-[150px] font-bold uppercase leading-none tracking-tighter text-white sm:text-lg sm:leading-none md:left-6 md:bottom-5 md:text-xl md:leading-none lg:text-2xl lg:leading-none"
                    data-swiper-parallax="-100"
                    data-swiper-parallax-duration="1100"
                  >{{title}}</div>

                  {{! Background Layer }}
                  <div
                    class="absolute left-0 bottom-0 -z-10 aspect-[1.1] w-2/3 bg-accent sm:aspect-[0.83] sm:w-[52%]"
                  ></div>
                  {{! Background Layer / End }}
                </div>
              </div>
            {{/each}}
            {{! Slides / End }}
          </div>
          {{! Slider required wrapper / End }}

          {{! Navigation }}
          <div
            class="absolute bottom-[8%] right-0 z-20 flex items-center sm:right-auto sm:left-[58%]"
          >
            <div
              class="js-vv-channel-info-swiper-btn-prev flex h-10 w-10 items-center justify-center text-primary hover:cursor-pointer hover:text-accent dark:text-white dark:hover:text-accent"
            >
              <svg class="h-3 w-3" fill="currentColor">
                <use
                  xlink:href="{{root}}assets/img/yt1/sprite.svg#chevron-left"
                ></use>
              </svg>
            </div>
            {{! Pagination }}
            <div
              class="vv-channel-info-swiper-pagination js-vv-channel-info-swiper-pagination group hidden justify-center gap-3 sm:flex"
            ></div>
            {{! Pagination / End }}
            <div
              class="js-vv-channel-info-swiper-btn-next flex h-10 w-10 items-center justify-center text-primary hover:cursor-pointer hover:text-accent dark:text-white dark:hover:text-accent"
            >
              <svg class="h-3 w-3" fill="currentColor">
                <use
                  xlink:href="{{root}}assets/img/yt1/sprite.svg#chevron-right"
                ></use>
              </svg>
            </div>
          </div>
          {{! Navigation }}

          {{! Side Gradient }}
          <div
            class="absolute inset-y-0 right-0 z-10 w-8 bg-gradient-to-l from-white to-transparent dark:from-gray-900 md:w-8"
          ></div>
          {{! Side Gradient / End }}

        </div>
        {{! Info Slider / End }}

      </div>
      {{! Slider / End }}

      {{! Info }}
      <div class="col-span-full md:col-span-4 xl:-ml-[30px]">
        {{! Heading }}
        <div
          class="mb-4 flex flex-wrap items-end justify-between gap-y-6 sm:mb-5 sm:flex-row md:mb-6 lg:mb-8 xl:mb-12 xl:gap-y-12"
        >
          <div class="flex flex-col-reverse gap-y-1 lg:gap-y-2 xl:gap-y-3">
            <h3
              class="leadin-none text-2xl font-bold tracking-tight text-primary dark:text-white sm:text-3xl md:text-3xl lg:text-4xl xl:text-5xl xl:leading-none"
            >Every Friday<br /> at 9PM</h3>
            <div
              class="leading-tighter text-primary dark:text-white lg:text-2xl"
            >New Videos!</div>
          </div>
        </div>
        {{! Heading / End }}

        <div class="pt-1 lg:text-lg lg:leading-8">

          {{! Info Primary Text }}
          <div class="mb-6 md:mb-8 lg:mb-10 xl:mb-12">
            <div class="mb-7 flex gap-4">
              <a
                class="group flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-lg bg-accent md:mt-2"
                href="#"
              >
                <svg
                  role="img"
                  class="h-6 w-6 fill-white will-change-transform group-hover:animate-ring"
                >
                  <use
                    xlink:href="{{root}}assets/img/yt1/sprite.svg#bell"
                  ></use>
                </svg>
              </a>
              <div class="flex-1">
                Remember to
                <a
                  href="#"
                  class="font-bold text-primary transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
                >turn on the notifications bell</a>
                so you’ll be informed when a new video is uploaded!
              </div>
            </div>
            <p>We really appreaciate all your comments, likes and suggestions,
              so keep em coming!</p>
          </div>
          {{! Info Primary Text / End }}

          {{! Info CTA Link }}
          <a
            class="inline-flex items-center gap-x-3 text-xs font-bold uppercase text-primary md:text-sm"
            href="#"
          >
            <span
              class="relative inline-flex h-[18px] w-[18px] items-center justify-center rounded-full border-2 border-primary dark:border-white"
            >
              <svg
                role="img"
                class="h-[8px] w-[8px] fill-primary dark:fill-white"
              >
                <use
                  xlink:href="{{root}}assets/img/yt1/sprite.svg#chevron-right"
                ></use>
              </svg>
            </span>
            <span
              class="text-primary transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
            >See All Videos</span>
          </a>
          {{! Info CTA Link / End }}
        </div>

      </div>
      {{! Info / End }}
    </div>
  </div>
</section>
{{! Section: Info Slider / End}}
