<label class="flex items-center gap-x-3 hover:cursor-pointer" for="{{name}}">
  <input
    name="{{name}}"
    id="{{id}}"
    type="checkbox"
    class="h-4 w-4 border-gray-600 bg-white checked:border-primary checked:bg-white checked:text-primary checked:hover:border-primary checked:hover:bg-white dark:border-gray-600 dark:bg-gray-900 dark:checked:border-primary dark:checked:hover:border-primary dark:checked:hover:bg-gray-900
      {{checkbox-class}}"
  />
  {{{@partial-block}}}
</label>
