<label class="flex items-center gap-x-3 hover:cursor-pointer" for="{{name}}">
  <input
    name="{{name}}"
    id="{{id}}"
    type="checkbox"
    class="border-gray-650 dark:border-gray-650 h-4 w-4 bg-white checked:border-accent checked:bg-white checked:text-accent checked:hover:border-accent checked:hover:bg-white dark:bg-gray-900 dark:checked:border-accent dark:checked:hover:border-accent dark:checked:hover:bg-gray-900
      {{checkbox-class}}"
  />
  {{{@partial-block}}}
</label>
