{{#if label }}
  {{> _str2-label for=name label=label required=required}}
{{/if}}
<input
  class="
  group-[.is-success]:bg-input-success-dark
  group-[.is-error]:border-danger
  group-[.is-error]:bg-input-invalid
  group-[.is-error]:text-danger
  group-[.is-success]:pr-16
  group-[.is-invalid]:pr-16
  px-4
  py-2
  border-base
  bg-white
  bg-[length:18px_18px,_38px_38px]
  bg-[position:right_16px_center,_right_6px_center]
  bg-no-repeat
  font-medium
  leading-8
  tracking-tight
  text-gray-900
  transition-all
  duration-150
  placeholder:font-normal
  placeholder:text-gray-500/60
  focus:border-accent
  focus:bg-white
  focus:text-gray-900
  focus:outline-0
  focus:ring-0
  dark:border-gray-600
  dark:group-[.is-success]:bg-input-success
  dark:bg-gray-800
  dark:text-white
  dark:placeholder:text-gray-500/80
  dark:focus:border-accent
  dark:focus:bg-gray-900

    {{! Width }}
    {{#if width }} {{width}} {{else}} w-full {{/if}}
    {{! Width / End }}

    {{input-class}}"

  type="{{type}}"
  name="{{name}}"
  id="{{id}}"
  value="{{value}}"
  placeholder="{{placeholder}}"
/>
<p class="group-[.is-error]:block mt-2 hidden text-xs text-danger">
  {{notification}}
</p>
